i {
    margin-left: 8px;
    color: white;
    font-size: 1.2rem;
}
.card__icon {
    color: #212121;
    margin-right: 4px;
    margin-left: 8px;
    font-size: 1.2rem;
}
.card__link {
    color: black;
}
.card__link:hover {
    color: #039be5;
}
.type {
    color: rgba(0, 0, 0, 0.5);
}
a {
    text-decoration: none;
}

.my-masonry-grid {
    display: -webkit-box; /* Not needed if autoprefixing */
    display: -ms-flexbox; /* Not needed if autoprefixing */
    display: flex;
    margin-left: -30px; /* gutter size offset */
    width: auto;
}
.my-masonry-grid_column {
    padding-left: 30px; /* gutter size */
    background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div {
    /* change div to reference your elements you put in <Masonry> */
    /*background: grey;*/
    margin-bottom: 30px;
}

.my-text {
    padding-left: 10px;
}
.my-right-text {
    padding-right: 10px;
    display: flex;
}

.customTypo {
    padding: 15px 0;
    color: #212121;
}

@media screen and (min-width: 1250px) {
    .my-text {
        padding-left: 100px;
    }
    .my-right-text {
        padding-right: 100px;
    }
}

@media screen and (max-width: 500px) {
    .my-right-text {
        display: block;
        text-align: center;
        padding: 0;
    }
    .my-text {
        padding: 0;
    }
}

@media screen and (min-width: 500px) {
    .customTypo {
        padding-top: 0px;
    }
}
